
body {
    text-align: center; 
}
h1 {
    color: darkred; 
    background-color: lightyellow; 
}
p strong:first-of-type {
    color: limegreen; 
}
h2 {
    color: darkred; 
}
a {
    color: blue; 
}
p {
    background-color: silver; 
}